<div>
    <mat-card style="width: 75vw; margin-left: auto; margin-right: auto; align-items: center;">
        <mat-card-content>
            <form [formGroup]="formGroup">
                <div>
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <textarea matInput [rows]="2" [cols]="100" formControlName="title"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Content</mat-label>
                        <textarea matInput [rows]="5" [cols]="100" formControlName="content"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Author</mat-label>
                        <input type="text" matInput formControlName="author" />
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-fab extended (click)="addPost()">
                <mat-icon>send</mat-icon>
                Post
            </button>
        </mat-card-actions>
    </mat-card>
</div>
